[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv = "*"

[packages]
sqlalchemy = "*"
click = "*"
sh = "*"
envmanager = {editable = true,path = "."}

[requires]
python_version = "3.7"
